*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Product list */
#cardProductParent{
  width: 100%;
  height: 100%;
  background-color: #a98507;
  padding: 1rem;
  transition: 0.5s;
}

#cardProductParent:hover {
  transform: scale(1.1);

}

#submitBtn{
  margin-left: 35%;

}

#formLogin{
  background-color: #a98507;
}

#productCard{
  background-color: #a98507 !important;
}
#customer{
    background-color: #a98507 !important;
}
.form{
  background-color: #a98507;
}

.loginTitle{
  text-align: center;
}


.btn-customer{
  margin-left: 5rem;
}

.productViewCard{
  background-color: #a98507 !important ;
}

.product-title{
  text-align: center;
}
.cardProduct {
  text-align: center;
}
.adminTitle{
  text-align: center;
}
